<table class="ftr" cellpadding="0" cellspacing="0">
  <tr>
    <td style="width:58%;">
      <div class="firma">
        <div class="linea"></div>
        <div class="nombre" data-field="firmante_nombre">DRA. IRMA LETICIA RODRÍGUEZ HERNÁNDEZ</div>
        <div class="cargo" data-field="firmante_cargo">DIRECTORA DE CONTROL ESCOLAR</div>
        <div class="contacto">
          <span data-field="firmante_correo">control.escolar@uh.edu.mx</span><br/>
          <span data-field="firmante_cel">Cel. 776 767 25 50</span>
        </div>
      </div>
    </td>
    <td>
      <div class="verify">
        <div class="qr"><img width="72" height="72" src="data:image/png;base64,{{ qr_png_base64 }}" alt="QR de verificación" /></div>
        <div class="folio">FOLIO: <span data-field="folio">F0A508AA2169</span></div>
        <div class="url">Verifica este documento en</div>
        <div class="url" data-field="url_verificacion">http://localhost:5173/verificar</div>
      </div>
    </td>
  </tr>
</table>
