<table class="hdr" cellpadding="0" cellspacing="0">
  <tr>
    <td style="width:76pt;">
      <div class="seal">UNIV.<br/>HISPANA</div>
    </td>
    <td class="hdr-name">
      <h1 data-field="institucion_nombre">Colegio Universitario Hispana</h1>
      <h2 data-field="plantel_nombre">Plantel Huauchinango</h2>
      <div class="clave" data-field="institucion_clave">Reg. SEP RCP-PUE-01 · Reg. Dir. Gral. de Profesiones RGP-PUE-01</div>
    </td>
    <td style="width:190pt; text-align:right;">
      <div class="hdr-doc-type">
        <b data-field="tipo_documento">Constancia de Estudios</b>
        Folio: <span data-field="folio">F0A508AA2169</span>
      </div>
    </td>
  </tr>
</table>
