<div class="cuerpo">
  <p>
    La(el) que suscribe, de esta Institución, hace constar que del expediente escolar de
    <span class="marca" data-field="nombre">Nombre Completo del Estudiante</span> se encuentra inscrita(o) en el
    <span class="marca" data-field="nivel_actual_ordinal">1er semestral</span> de la
    <span class="marca" data-field="carrera_nombre">Licenciatura en Derecho Corporativo</span>, en esta Institución,
    con matrícula <span class="marca" data-field="matricula">26101001</span>,
    <span class="marca" data-field="estatus">REGULAR</span>,
    <span class="marca" data-field="turno">MATUTINO</span>,
    <span class="marca" data-field="modalidad">ESCOLARIZADO</span>. Se extiende la presente a solicitud de la interesada y para los fines que crea convenientes dentro del marco de la Ley. Sin otro particular por el momento.
  </p>
</div>

<table class="datos" cellpadding="0" cellspacing="0">
  <tr>
    <td class="lbl">Periodo</td>
    <td data-field="periodo_nombre">SEP 2024 - JUL 2029</td>
  </tr>
  <tr>
    <td class="lbl">Turno</td>
    <td data-field="turno">MATUTINO</td>
  </tr>
  <tr>
    <td class="lbl">Modalidad</td>
    <td data-field="modalidad">ESCOLARIZADO</td>
  </tr>
  <tr>
    <td class="lbl">Estatus</td>
    <td data-field="estatus">REGULAR</td>
  </tr>
</table>
